head{
    font-family: "Lucida Console";

}

body{
    background-image: url("squared_metal.png");
    font-size: 20px;
    list-style-type: none;
    color: #655A44;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    border: dotted;
    font-family: "Lucida Console";

}

.container {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #ff0000;
    margin-left: 175px;
}


h2{
    color: #655A44;
    font-size: 25px;
    font-family: "Rubik Mono One";
}